body {
background-image: url('../images/Excitebike-Track.png');
background-size: cover;
}

div#raceTrack {
width: 800px;
height: 150px;
background: gray;
position: absolute;
left: 250px;
top: 401px;
}

div#preLine {
width: 10px;
height: 150px;
background: white;
position: absolute;
left: 50px;
}

div#faultLine {
width: 10px;
height: 150px;
background: white;
position: absolute;
left: 140px;
}

div#finishLine {
width: 10px;
height: 150px;
background: white;
position: absolute;
left: 700px;
}


h2.pre {
transform: rotate(-90deg);
position: absolute;
top: 40px;
left: -50px;
}
h2.stage {
transform: rotate(-90deg);
position: absolute;
top: 40px;
left: -95px;
}

h2.finish {
transform: rotate(-90deg);
position: absolute;
top: 40px;
left: 10px;
}

.car {
width: 50px;
height: 30px;
background: green;
position: absolute;
left: 0px;
}

div#rCar1 {
top: 15px;
}

div#rCar2 {
top: 105px;
}

/*X-mas Tree Lights*/

div#tree {
width: 120px;
height: 210px;
margin-left: auto;
margin-right: auto;
background: rgb(238, 238, 238);
border: 1px solid #CDCDCD;
border-radius: 30px;
margin-top: 40px;
}

div#mtree {
width: 20px;
height: 230px;
background: black;
margin-left: 50px;
margin-right: 50px;
position: absolute;
top: 61px;
}

.bartree {
width: 34px;
height: 4px;
background: #000;
position: absolute;
margin-left: 43px;
}

.light {
width: 30px;
height: 30px;
background: #fff;
border: 2px solid #000;
border-radius: 20px;
margin-top: 6px;
margin-left: 10px;
margin-right: 10px;
}

div#Lside {
float: left;
}
div#Rside {
float: right;
}


div#bartree1 {
margin-top: 20px;
}

div#bartree2 {
margin-top: 43px;
}

div#bartree3 {
margin-top: 64px;
}

div#bartree4 {
margin-top: 86px;
}

div#bartree5 {
margin-top: 108px;
}
/*X-mas Tree Lights*/

/*Reset Track Button */
input.Reset {
margin-left: 40%;
margin-right: 40%;
width: 20%;
height: 40px;
position: absolute;
top: 560px;
font-size: 30pt;
}


/*Start Button*/

div#keyStart {
width: 70px;
height: 70px;
background: #000;
border-radius: 40px;
text-align: center;
position: absolute;
top: 30px;
left: 90%;
border: 4px dashed #eee;
}
div#keySwitch {
width: 15px;
height: 50px;
background: #A8A8A8;
text-align: center;
margin: 10px auto 0 auto;
transform: rotate(30deg);
}

h4.ks {
text-align: center;
position: absolute;
top: -10px;
left: 1165px;
}





/*Start Button*/